*{
  font-family: "Raleway", sans-serif;
}
.header{
   background-image: url("https://static.wixstatic.com/media/ae5901bd4fda41009c4cc4a19bb70d05.jpg/v1/fit/w_740,h_494,al_c,q_90/file.webp");
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 30em;
   color:white;
   text-align: center;

}

.header h1{
 font-weight: bolder;
 font-size: 70px;
 padding-top: 2.5em;
 margin-bottom: 0em;

}

.header h3{
  font-weight: normal;
  font-size: 18px;
  margin-top: 0.2em;
}

.introText{
color:#696969;
padding:5em;
text-align: center;
}

ul{
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
}

/**************TOPICS**************/
.topicContainer{
  position: relative;
  width:70%;
  padding: 3em 1em;
}

.topicContainer button{
  position: absolute;
  top:50%;
  left: 50%;
  width: 5em;
  color:#39c9bb;
}

.topics ul li img{
  max-width: 20em;
}

/**************As Featured In**************/
.featured{
  position: relative;
  background-color: #F0F0F0;
  margin: 3em 0;
  height: 9em;
}

.featured h4{
  position: absolute;
    top: 35%;
    left: 15%;
}

.featured ul{
  position: absolute;
    top:35%;
    left: 35%;
}

.featured ul li{
  padding: 0 1em;
}
/**************Social Media Strip**************/
.socialMedaiStrip{
  background-color: #39c9bb;
  height:4em;
  color: white;
}

.socialMedaiStrip ul li{
  padding: 1em 2em;
}
