*{
  font-family: "Raleway", sans-serif;
}
/***********************NAV***********************/
.navbar-default .navbar-nav .active a{
  color:#39c9bb;
}


/***********************HEADER***********************/
.header{
   background-image: url("https://static.wixstatic.com/media/ae5901bd4fda41009c4cc4a19bb70d05.jpg/v1/fit/w_740,h_494,al_c,q_90/file.webp");
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 30em;
   color:white;
   text-align: center;

}

.header h1{
 font-weight: bolder;
 font-size: 70px;
 padding-top: 2.5em;
 margin-bottom: 0em;
 margin-top: -1em;

}

.header h3{
  font-weight: normal;
  font-size: 18px;
  margin-top: 0.2em;
}

.introText{
color:#696969;
padding:5em;
text-align: center;
}

ul{
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
}

/**************TOPICS**************/
.topicContainer{
  position: relative;
  width:70%;
  padding: 3em 1em;
}

.topicContainer button{
  position: absolute;
  top:50%;
  left: 50%;
  width: 5em;
  color:#39c9bb;
}

.topics ul li img{
  max-width: 20em;
}

/**************As Featured In**************/
.featured{
  position: relative;
  background-color: #F0F0F0;
  margin: 3em 0;
  height: 9em;
}

.featured h4{
  position: absolute;
    top: 35%;
    left: 15%;
}

.featured ul{
  position: absolute;
    top:45%;
    left: 35%;
}

.featured ul li{
  padding: 0 1em;
}

.featured li span{
  font-weight: black;
}
/**************Social Media Strip**************/
.socialMedaiStrip{
  background-color: #39c9bb;
  height:4em;
  color: white;
  margin-top: 5em;
}

.socialMedaiStrip ul li{
  padding: 1em 2em;
}

/**************Social Media Strip**************/

.sampleBlog{
  max-width: 55em;
  margin-top: 5em;
}
 .sampleBlog img{
    max-width: 100%;

 }

.blogInfo{
  border: 0.25px solid #696969;
  max-width: 100%;
  padding:2em;
  margin-top: -1.5em;
}

.sampleBlog time{
font-size: 0.75em;
color: gray;
}

.sampleBlog h3{
  font-weight: bolder;
}

.sampleBlog h3:hover{
  color: #39c9bb;
}

.sampleBlog i{
  text-align: left;
}
/**************FOOTER**************/

.footer{
  margin-top: 10em;
  padding: 2em 0;
  background-color:#696969;
  color:white;
}

.footer a{
  color:white;
}

.footer a:hover{
  color: #39c9bb;
}

.footerLinkHead .footerLinks{
  text-align: left;
}

/**************FOOTER**************/
 .aboutMe .aboutText{
  padding: 6em;
 }

 .aboutMe img{
  max-width: 30em;
  padding-top: 6em;
 }

.aboutMe a{
  color:#39c9bb;
}